In [76]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [77]:
# Load the Dataset

data = pd.read_csv('H:\My Drive\Data Science - End to End Projects\ANN Classification\Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [78]:
# Preprocessing the Data
## Drop Irrelevant Columns

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [79]:
# Encode Categorical Features

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [80]:
# Apply OneHotEncoder to Column - Geography

from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [81]:
# Convert One Hot Encoded values to DataFrame

geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [82]:
# Combine the One Hot Encoded DataFrame with the Original DataFrame

data = pd.concat([data, geo_encoded_df], axis=1)
data = data.drop('Geography', axis=1)  # Drop the original Geography column
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [83]:
# Save the Encoders

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [84]:
# Divide the Dataset into Independent and Dependent Features

X = data.drop('Exited', axis=1)
y = data['Exited']

# Perform Train Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the Features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Save the Encoders

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Implementation

In [85]:
# Import the Libraries & Functionalities

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [86]:
# Build the ANN Model

model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)), # HL1 connected to Input Layer
        Dense(32, activation='relu'), # HL2 connected to HL1
        Dense(1, activation='sigmoid') # Output Layer
    ]
)

In [87]:
# Display the Model Summary

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [88]:
# Compile the Model

model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [89]:
# Setup the TensorBoard Callback

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# Setup the EarlyStopping Callback
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [90]:
# Train the Model

history = model.fit(
    X_train,
    y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.4533 - accuracy: 0.8071 - val_loss: 0.3998 - val_accuracy: 0.8265
Epoch 2/100
250/250 [==============================] - 0s 828us/step - loss: 0.3903 - accuracy: 0.8415 - val_loss: 0.3628 - val_accuracy: 0.8505
Epoch 3/100
250/250 [==============================] - 0s 827us/step - loss: 0.3555 - accuracy: 0.8566 - val_loss: 0.3507 - val_accuracy: 0.8570
Epoch 4/100
250/250 [==============================] - 0s 832us/step - loss: 0.3454 - accuracy: 0.8589 - val_loss: 0.3465 - val_accuracy: 0.8555
Epoch 5/100
250/250 [==============================] - 0s 818us/step - loss: 0.3399 - accuracy: 0.8559 - val_loss: 0.3446 - val_accuracy: 0.8590
Epoch 6/100
250/250 [==============================] - 0s 823us/step - loss: 0.3362 - accuracy: 0.8605 - val_loss: 0.3435 - val_accuracy: 0.8600
Epoch 7/100
250/250 [==============================] - 0s 804us/step - loss: 0.3333 - accuracy: 0.8619 - val_loss: 0.3463 - val_accuracy: 0.8570
Epoch 8/100
250/250 [==============================] - 0s 807us/step - loss: 0.3311 - accuracy: 0.8634 - val_loss: 0.3457 - val_accuracy: 0.8615
Epoch 9/100
250/250 [==============================] - 0s 810us/step - loss: 0.3300 - accuracy: 0.8627 - val_loss: 0.3454 - val_accuracy: 0.8595
Epoch 10/100
250/250 [==============================] - 0s 846us/step - loss: 0.3264 - accuracy: 0.8630 - val_loss: 0.3427 - val_accuracy: 0.8630
Epoch 11/100
250/250 [==============================] - 0s 804us/step - loss: 0.3242 - accuracy: 0.8671 - val_loss: 0.3427 - val_accuracy: 0.8655
Epoch 12/100
250/250 [==============================] - 0s 837us/step - loss: 0.3230 - accuracy: 0.8665 - val_loss: 0.3445 - val_accuracy: 0.8635
Epoch 13/100
250/250 [==============================] - 0s 809us/step - loss: 0.3218 - accuracy: 0.8661 - val_loss: 0.3506 - val_accuracy: 0.8590
Epoch 14/100
250/250 [==============================] - 0s 806us/step - loss: 0.3195 - accuracy: 0.8661 - val_loss: 0.3425 - val_accuracy: 0.8630
Epoch 15/100
250/250 [==============================] - 0s 810us/step - loss: 0.3176 - accuracy: 0.8671 - val_loss: 0.3446 - val_accuracy: 0.8625
Epoch 16/100
250/250 [==============================] - 0s 832us/step - loss: 0.3166 - accuracy: 0.8686 - val_loss: 0.3489 - val_accuracy: 0.8585
Epoch 17/100
250/250 [==============================] - 0s 823us/step - loss: 0.3156 - accuracy: 0.8694 - val_loss: 0.3443 - val_accuracy: 0.8640
Epoch 18/100
250/250 [==============================] - 0s 825us/step - loss: 0.3129 - accuracy: 0.8700 - val_loss: 0.3454 - val_accuracy: 0.8610
Epoch 19/100
250/250 [==============================] - 0s 849us/step - loss: 0.3116 - accuracy: 0.8694 - val_loss: 0.3513 - val_accuracy: 0.8600
Epoch 20/100
250/250 [==============================] - 0s 815us/step - loss: 0.3113 - accuracy: 0.8708 - val_loss: 0.3480 - val_accuracy: 0.8580
Epoch 21/100
250/250 [==============================] - 0s 854us/step - loss: 0.3111 - accuracy: 0.8702 - val_loss: 0.3463 - val_accuracy: 0.8650
Epoch 22/100
250/250 [==============================] - 0s 871us/step - loss: 0.3089 - accuracy: 0.8712 - val_loss: 0.3468 - val_accuracy: 0.8615
Epoch 23/100
250/250 [==============================] - 0s 934us/step - loss: 0.3071 - accuracy: 0.8711 - val_loss: 0.3463 - val_accuracy: 0.8640
Epoch 24/100
250/250 [==============================] - 0s 848us/step - loss: 0.3065 - accuracy: 0.8729 - val_loss: 0.3457 - val_accuracy: 0.8600

In [91]:
# Save the Model in "H5" Format

model.save("model.h5")

h:\My Drive\Data Science - End to End Projects\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [92]:
# Load TensorBoard Extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [93]:
# Launch TensorBoard

%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 17044), started 0:01:33 ago. (Use '!kill 17044' to kill it.)